arrow               # Nice date & time formatting library
discord.py[voice]   # Extensive Python library used to interact with the Discord API.
jishaku             # A nice debug cog / extension for the bot
psutil              # Used to get various system information
requests            # Used for HTTP requests
toml                # Used for the configuration system
youtube_dl          # Will eventually be used for voice
